@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #fff;
        --color-ft: #000;
    }
}

* {
    font-family: "Consolas";
}

body {
    background-color: var(--color-bg, #000);
    color: var(--color-ft, #fff);
}

body #function-btns {
    display: none;
    opacity: 0;
}

body:hover #function-btns {
    display: initial;
    opacity: 1;
}

input[type="text"] {
    text-align: center;
    font-size: 2em;
    width: 3em;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem);
}

.round-btn {
    width: 3.5em;
    height: 3.5em;
    /* border: 2px #fff solid; */
    border-radius: 50%;
    padding: unset;
    font-size: 2em;
}
